@model Wed_ShopGaming.ViewModels.CauHinhSPViewModel
@{
    ViewBag.Title = "CauHinhSP";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create_CauHinhSP", "QLSanPham", new { area = "Admin" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row p-2">
        <div class="col-lg-7">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model.CauHinhs)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete_CauHinhSP", new { id = item.Id })
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="form-horizontal col-lg-5">
            <table class="table">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Create" class="btn btn-default text-black" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
