@model Wed_ShopGaming.ViewModels.ListDescription_LinhKienViewModel
@{
    ViewBag.Title = "Description_LinhKien";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var SP = (Wed_ShopGaming.Models.Entity.SanPham)ViewBag.SanPham_Description;
}
@Html.AntiForgeryToken()
<div class="row p-2">
    <table class="table">
        <tr>
            <th>
                @Html.Label("Ten")
            </th>
            <th>
                @Html.Label("So luong")
            </th>
            <th>
                @Html.Label("Gia")
            </th>
            <th>
                @Html.Label("hang")
            </th>
            <th>
                @Html.Label("Loai")
            </th>
        </tr>
        <tr>
            <td>
                @Html.Label(SP.Name)
            </td>
            <td>
                @Html.Label(SP.Amount.ToString())
            </td>
            <td>
                @Html.Label(SP.Price.ToString())
            </td>
            <td>
                @Html.Label(SP.Hang.Name)
            </td>
            <td>
                @Html.Label(SP.LinhKien.LoaiLK.Name)
            </td>
        </tr>
    </table>
    <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm("Description_LinhKien", "LinhKien", new { idSanPham = SP.Id }, FormMethod.Post))
        {
        <table class="table">

            @for(int i=0;i<Model.description_LinhKiens.Count;i++) {
                <tr>
                    <td>
                        @Html.CheckBoxFor(m => m.description_LinhKiens[i].IsCheck)
                        @Html.HiddenFor(m => m.description_LinhKiens[i].IdTSKT)
                        @Html.HiddenFor(m => m.description_LinhKiens[i].Name)
                        @Html.HiddenFor(m => m.description_LinhKiens[i].Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.description_LinhKiens[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.description_LinhKiens[i].Description)
                    </td>
                </tr>
            }
    </table>
        <div>
            <input type="submit" value="Tạo" class="btn btn-primary" />
        </div>
    }

</div>














