@model Wed_ShopGaming.ViewModels.MayTinhViewModel
@{
    ViewBag.Title = "CauHinhSP";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var action = (Session["ManagerAction"] as Wed_ShopGaming.ViewModels.ManagerViewModel);
}

@using (Html.BeginForm(action.Action, "MayTinh", new { area = "Admin" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row p-2">
        <div class="col-lg-7">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdCauHinh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdHang)
                    </th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model.SanPham)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MayTinh.CauHinh.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hang.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MayTinh.LoaiMT.Name)
                            </td>
                            <td>
                                @*@Html.ActionLink("Hinh Anh", "Image_LinhKien","UpLoadFile", new { id = item.Id })*@
                                <a href="~/Admin/UpLoadFile/Image_MayTinh/?id=@item.Id"> Hinh Anh</a>
                            </td>
                            <td>
                                @Html.ActionLink("Chi Tiet", "Details_MayTinh", new { id = item.Id })
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit_MayTinh", new { id = item.Id })
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete_LinhKien", new { id = item.Id })
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="form-horizontal col-lg-5">
            <table class="table">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <tr>
                    <th>
                        @Html.HiddenFor(model=>model.id)
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(model => model.IdCauHinh, new SelectList(Model.CauHinh, "Id", "Name"), htmlAttributes: new { @class = "control-label h5" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(model => model.IdHang, new SelectList(Model.hangs, "Id", "Name"), htmlAttributes: new { @class = "control-label h5" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(model => model.IdLoai, new SelectList(Model.LoaiSP, "Id", "Name"), htmlAttributes: new { @class = "control-label h5" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="@action.Heading" class="btn btn-default text-black" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}