@model Wed_ShopGaming.ViewModels.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Bạn đã xác thực thành công với <strong>@ViewBag.LoginProvider</strong>.
        Vui lòng nhập tên người dùng cho trang web này bên dưới và nhấp vào nút Đăng ký để hoàn tất
        đăng nhập.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.DefaultUserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DefaultUserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DefaultUserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Tạo Tài Khoản" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
