@model Wed_ShopGaming.ViewModels.LoginViewModel
@using Wed_ShopGaming.ViewModels

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutDangNhap.cshtml";
}
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- login area start -->
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="login-form-head">
                    <h4>Đăng Nhập</h4>
                </div>
                <div class="login-form-body">

                    <div class="form-gp">
                        @Html.LabelFor(m => m.Email, htmlAttributes: new { @for = "exampleInputEmail1" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "", type = "", id = "exampleInputEmail1" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", })
                        <i class="ti-email"></i>
                        <div class="text-warning"></div>
                    </div>
                    <div class="form-gp">
                        @Html.LabelFor(m => m.Password, new { @class = "", @for = "exampleInputPassword1" })
                        @Html.PasswordFor(m => m.Password, new { @class = "", id = "exampleInputPassword1" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
                        <i class="ti-lock"></i>
                        <div class="text-danger"></div>
                    </div>
                    <div class="row mb-4 rmber-area">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#">Quên Mật Khẩu?</a>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Đăng Nhập <i class="ti-arrow-right"></i></button>
                        @Html.Partial("_LoginsPartial")
                    </div>
                    <div class="form-footer text-center mt-5">
                        <p class="text-muted">Không có tài khoản? @Html.ActionLink("Tạo Tài Khoản", "Register")</p>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
