@model Wed_ShopGaming.ViewModels.PagingSPViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.LapTop.PageCount != 0)
{
    <div class="container-fluid pt-5 pb-3 bg-light">
        <h2 class="bg-light section-title position-relative text-uppercase mx-xl-5 mb-4 row  bg-light"><span class=" pr-3 col-md-9">LapTop</span><span class=" pr-3 col-md-3"><a class="text-right" href="~/Home/DanhSachSPCheck/?check=1">Xem tat ca</a></span></h2>
        <div class="row px-xl-5 d-flex">
            @foreach (var item in Model.LapTop)
            {
                <div class="col-lg-3 col-md-5 col-sm-5 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="~/Contents_Custom/SaveImage/@item.img" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href="~/Home/ChiTietSP/@item.sanPham.Id"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="">@item.sanPham.Name</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>@item.sanPham.Price</h5><h6 class="text-muted ml-2"></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            Trang @(Model.LapTop.PageCount < Model.LapTop.PageNumber ? 0 : Model.LapTop.PageNumber) / @Model.LapTop.PageCount

            @Html.PagedListPager(Model.LapTop, page => Url.Action("PageList", "Home", new { page, check = 1 }))
        </div>
    </div>
}
@if (Model.MayTinh.PageCount != 0)
{
    <div class="m-3"></div>
    <div class="container-fluid pt-5 pb-3 bg-light">
        <h2 class="bg-light section-title position-relative text-uppercase mx-xl-5 mb-4 row  bg-light"><span class=" pr-3 col-md-9">May Tinh</span><span class=" pr-3 col-md-3"><a class="text-right" href="~/Home/DanhSachSPCheck/?check=2">Xem tat ca</a></span></h2>
        <div class="row px-xl-5">
            @foreach (var item in Model.MayTinh)
            {
                <div class="col-lg-3 col-md-5 col-sm-5 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="~/Contents_Custom/SaveImage/@item.img" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href="~/Home/ChiTietSP/@item.sanPham.Id"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="">@item.sanPham.Name</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>@item.sanPham.Price</h5><h6 class="text-muted ml-2"></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center ">
            Trang @(Model.MayTinh.PageCount < Model.MayTinh.PageNumber ? 0 : Model.MayTinh.PageNumber) / @Model.MayTinh.PageCount

            @Html.PagedListPager(Model.MayTinh, page => Url.Action("PageList", "Home", new { page, check = 1 }))
        </div>
    </div>
}
@if (Model.LinhKien.PageCount != 0)
{
    <div class="m-3"></div>
    <div class="container-fluid pt-5 pb-3 bg-light">
        <h2 class="bg-light section-title position-relative text-uppercase mx-xl-5 mb-4 row  bg-light"><span class=" pr-3 col-md-9">Linh Kien</span><span class=" pr-3 col-md-3"><a class="text-right" href="~/Home/DanhSachSPCheck/?check=4">Xem tat ca</a></span></h2>
        <div class="row px-xl-5">
            @foreach (var item in Model.LinhKien)
            {
                <div class="col-lg-3 col-md-5 col-sm-5 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="~/Contents_Custom/SaveImage/@item.img" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href="~/Home/ChiTietSP/@item.sanPham.Id"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="">@item.sanPham.Name</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>@item.sanPham.Price</h5><h6 class="text-muted ml-2"></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            Trang @(Model.LinhKien.PageCount < Model.LinhKien.PageNumber ? 0 : Model.LinhKien.PageNumber) / @Model.LinhKien.PageCount

            @Html.PagedListPager(Model.LinhKien, page => Url.Action("PageList", "Home", new { page, check = 1 }))
        </div>
    </div>
}
@if (Model.DanhChoBan.PageCount != 0)
{
    <div class="m-3"></div>
    <div class="container-fluid pt-5 pb-3 bg-light">
        <h2 class="bg-light section-title position-relative text-uppercase mx-xl-5 mb-4 row bg-light"><span class=" pr-3 col-md-9">Danh Cho Ban</span><span class=" pr-3 col-md-3"><a class="text-right" href="~/Home/DanhSachSPCheck/?check=3">Xem tat ca</a></span></h2>
        <div class="row px-xl-5">
            @foreach (var item in Model.DanhChoBan)
            {
                <div class="col-lg-3 col-md-5 col-sm-5 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-75" src="~/Contents_Custom/SaveImage/@item.img" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href="~/Home/ChiTietSP/@item.sanPham.Id"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>W
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="">@item.sanPham.Name</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>@item.sanPham.Price</h5><h6 class="text-muted ml-2"></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            Trang @(Model.DanhChoBan.PageCount < Model.DanhChoBan.PageNumber ? 0 : Model.DanhChoBan.PageNumber) / @Model.DanhChoBan.PageCount
            @Html.PagedListPager(Model.DanhChoBan, page => Url.Action("PageList", "Home", new { page, check = 1 }))
        </div>
    </div>
}

