@model IEnumerable<Wed_ShopGaming.ViewModels.HinhAnhMainViewModel>
@{
    ViewBag.Title = "ListGioHang";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle"><img src="~/Contents_Custom/img/@item.img" alt="" style="width: 50px;"> @item.sanPham.Name</td>
                            <td class="align-middle">@String.Format("{0:0,0}", item.sanPham.Price)</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href="@Url.Action("DeleteCountShoppingCart","Shop",new {idSP = item.sanPham.Id,strURL = Request.Url.ToString()})" class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="@item.count">
                                    <div class="input-group-btn">
                                        <a href="@Url.Action("AddShoppingCart","Shop",new {idSP = item.sanPham.Id,strURL = Request.Url.ToString()})" class="btn btn-sm btn-primary btn-plus" h>
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle"><p>@String.Format("{0:0,0}", item.sanPham.Price * item.count)đ</p></td>
                            <td class="align-middle"><a href="@Url.Action("DeleteShoppingCart","Shop",new {idSP = item.sanPham.Id,strURL = Request.Url.ToString()})" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thanh Toan</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Tong Tam Tinh</h6>
                        <h6>@String.Format("{0:0,0}", ViewBag.TongTien)đ</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Thanh Tien</h5>
                        <h5>@String.Format("{0:0,0}", ViewBag.TongTien)đ</h5>
                    </div>
                    <a href="~/Home/Checkout">
                        <input type="button" class="btn btn-block btn-primary font-weight-bold my-3 py-3" value="Thanh Toan" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

